{% extends "index.html" %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Historical Stock Data</h4>
        </div>

        <div class="card-body">
            <!-- Safe tells Jinja to not escape html characters in the variable. This allows raw html to render in the browser -->
             <!-- We add this keyword because Jinja automatically escapes HTML content to prevent XSS attacks -->
            <div>{{ graph | safe }}</div>

            <a href="{{ url_for('routes.dashboard') }}" class="btn btn-outline-secondary">← Go Back</a>
        </div>
    </div>
</div>

{% endblock %}
