<!-- Login is a child template that extends index; it imports all metadata from index -->
{% extends "index.html" %} {% block content %}

<h1>Login page</h1>

{% if error %}
        <p style="color: rgb(149, 0, 0); background-color: rgb(255, 156, 156); width:fit-content;">{{ error }}</p>
{% endif %}

<form method="POST" action="">
    {{ form.hidden_tag() }}
    
    <div>
        {{ form.username.label }}
        {{ form.username }}
    </div>
    
    <div>
        {{ form.password.label }}
        {{ form.password }}
    </div>
    
    <div>
        {{ form.login_submit }}
        {{ form.register_submit }}
    </div>
</form>

</form>

{% endblock %}